
@import "tailwindcss";


* {
  --wcm-z-index: 99999999999;
}


html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-urbanist), sans-serif;
}

p {
  font-family: var(--font-dm-sans), sans-serif;
}


/* div,
ul,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
 -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition-property: background-color;
transition-duration: 1s;
transition-timing-function: ease-out; 

} */

.custom-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}


a {
  text-decoration: none !important;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

input:focus {
  outline: none !important;
}

.form-control:focus {
  box-shadow: unset;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea:focus-visible {
  outline: none !important;
}

button,
input,
optgroup,
select,
textarea:focus {
  outline: none !important;
}
